<% @order_items.each do |item| %>
    <div><%= item.product.name %></div>
    <div><%= item.product.price %><div>
     <%= form_with model: item do |f| %> <%#, url: order_items_path %>
        <div class="field">
            <%= f.hidden_field :product_id, value: item.product.id %>
            <%= f.number_field :quantity, value: item.quantity.to_i %>
        </div>
        <div class="actions">
            <%= f.submit "Update Cart", class: 'btn btn-success' %>
        </div>
        <%# <div>
            <%= link_to "Update Cart", item, method: :put, remote: true %
        </div> %>
        <div>
            <%= link_to "Remove Items", item, method: :delete, remote: true %>
        </div>
    <% end %>
    <div>Subtotal: <%= item.total %></div>
    <hr>
<% end %>

<div>Your current order has a <b>total</b> of: <b><%= current_cart.subtotal %></b></div>
<hr>
<div>
    <%= button_to "Continue", remote: true, class: 'btn btn-primary' %>
</div>