<p id="notice"><%= notice %></p>

<h1>Products</h1>

<% @products.in_groups_of(4, false).each do |group| %>
  <div class='row'>
    <% group.each do |product| %>
      <div class='col-md-3'>
        <strong class="card-text"><%= product.name %></strong>
        <div><%= sanitize(product.description) %></div>
        <div><%= product.category %></div>
        <div><%= number_to_currency(product.price) %></div> 
        <div><%= link_to 'Show', shop_path(product) %></div>
        <%# <%= button_to 'Add to Cart', add_to_cart_path(product_id: product.id), class: 'btn btn-info btn-sm', remote: true %>
        <%= form_with model: @order_items, url: order_items_path do |f| %>
            <div class="field">
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.number_field :quantity, value: 1, min: 1 %>
            </div>
            <div class="actions">
                <%= f.submit "Add to Cart" %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

