<!DOCTYPE html>
<html>
  <head>
    <title>Galaxy Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="container-fluid">
          <a class="navbar-brand" href="home#index">Galaxy Store</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <%# <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> %>
              <%# <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> %>
              <%# <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search product" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form> %>
              <%= form_tag search_product_path, method: :get do %>
                <%# <div class="form-group row"> %>
                  <%= text_field_tag :product, params[:product], placeholder: 'Search product' %>
                  <%= button_tag type: :submit, class: "btn btn-outline-success" do %>
                    <%= 'Search' %> 
                  <% end %>
                <%# </div> %>
              <% end %>
              <li class="nav-item dropdown" style="padding-left: 50px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item"> <%= link_to 'Phones', shops_path(:filter => "Phone") %></li>
                  <li class="dropdown-item"> <%= link_to 'PCs', shops_path(:filter => "PC") %></li>
                  <li class="dropdown-item"> <%= link_to 'Laptops', shops_path(:filter => "Laptop") %></li>
                </ul>
              </li>
              <%# <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> %>
            </ul>
            <%# <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search product" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">My Cart</a>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Favorites</a>
                </li>
              <% end %>
              <li class="nav-item dropdown" style="padding-right: 30px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%# <li><a class="dropdown-item" href="#">Login</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign Up</a></li> %>
                <% if user_signed_in? %>
                  <li class="dropdown-item"><%= link_to "Hi, #{current_user.email}", edit_user_registration_path %></li>
                  <li class="dropdown-item">My orders</li>
                  <li class="dropdown-item">Return products</li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="dropdown-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li class="dropdown-item"><%= link_to 'Sign-In', new_user_session_path %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="dropdown-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
                <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
